<header *ngIf="user$|async as user">
  <div class="d-flex justify-content-between align-items-center">
    <a routerLink="/"><h2 class="margin-0">MyApp</h2></a>
    <div class="d-flex align-items-center">
      <span style="margin-right: 5px;">{{ user.name }}</span>
      <div class="avatar togle-menu" #toggleButton (click)="toggleMenu()"><span class="letter">{{ user.name[0] }}</span></div>
      <div class="menu" *ngIf="showMenu" (window:click)="onCloseMenu($event, toggleButton)">
        <a (click)="signOut()"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
      </div>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer *ngIf="user$|async as user">
  <h5>Contact to me</h5>
  <a href="mailto:raalarcon9705@gmail.com">raalarcon9705@gmail.com</a>
</footer>
