<div class="card-header">
  <div class="avatar"><span class="letter">{{ post.user.name[0] }}</span></div>
  <div class="name">{{ post.user.name }}</div>
</div>

<div class="card-body">
  <h3 class="margin-0" style="margin-bottom: 12px;">{{ post.title }}</h3>
  <div [innerHTML]="post.body"></div>
</div>

<div class="card-footer" *ngIf="showFooter">
  <a (click)="toggleState(); comments.loadComments()"><i class="fa fa-comment"></i></a>
  <a [routerLink]="['/posts', post.id]"><i class="fa fa-eye"></i></a>
</div>
<div [@collapse]="collapseState">
  <app-comments #comments [postId]="post.id" [loadOnInit]="loadCommentsOnInit"></app-comments>
</div>
