<div>
  <div *ngIf="noComments$|async" class="text-center">No comments</div>
  <ng-container *ngIf="comments$|async as comments">
    <div style="padding: 0 5px;">
      <app-filter [orderOptions]="orderOptions" title="Search comments" (filter)="setFilter($event)"></app-filter>
    </div>
    <div *ngFor="let comment of comments">
      <app-comment-item [comment]="comment"></app-comment-item>
    </div>

    <div *ngIf="(hasNext$|async) && comments?.length">
      <button (click)="loadComments()">Load more comments</button>
    </div>

  </ng-container>
  <div *ngIf="loading$|async" class="text-center">Loading...</div>

</div>
